
        img {
            width: 100%;
        }

        .image {
            /* usado en neutron/index  */
            height: 330px;
        }

        .image1 {
            /* usado en neutron/index  */
            height: 240px;
        }

        .image2 {
            /* usado en neutron/index  */

            height: 240px;
        }
        .image6 {
            /* usado en neutron/index  */

            height: 430px;
        }


        .image5 {
            /* usado en admin/article/edityshow  admin/aside-advertising/index show edit admin/advertising/edit*/
            height: auto;
        }

        .centrar {
            margin-left: auto;
            margin-right: auto;
        }

        .centrar1 {
            margin-left: 20%;
            margin-right: auto;
        }

        .centrar2 {
            margin-left: 5%;
            margin-right:
        }

        .contenedor {
            overflow-x: scroll;
        }

        .gray {
            background: #EDEFEF;
        }

        @media screen and (max-width: 1450px) {
            .image {
                /* usado en neutron/index  */
                height: 270px;
            }

            .image1 {
                /* usado en neutron/index  */
                height: 200px;
            }
            .image2 {
            /* usado en neutron/index  */
            height: 200px;
        }
        .image6 {
            /* usado en neutron/index  */

            height: 380px;
        }
        }
        @media screen and (max-width: 1320px) {
            .image {
                /* usado en neutron/index  */
                height: 270px;
            }

            .image1 {
                /* usado en neutron/index  */
                height: 190px;
            }
            .image2 {
            /* usado en neutron/index  */
            height: 180px;
        }
        .image6 {
            /* usado en neutron/index  */

            height: 350px;
        }
        }
        @media screen and (max-width: 1200px) {
            .image {
                /* usado en neutron/index  */
                height: 290px;
            }

            .image1 {
                /* usado en neutron/index  */
                height: 180px;
            }
            .image2 {
            /* usado en neutron/index  */
            height: 160px;
        }
        .image6 {
            /* usado en neutron/index  */

            height: 300px;
        }
        }

        @media screen and (max-width: 992px) {
            .image {
                /* usado en neutron/index  */
                height: 250px;
            }

            .image1 {
                /* usado en neutron/index  */
                height: 120px;
            }
            .image2 {
            /* usado en neutron/index  */
            height: 140px;
        }
        .image6 {
            /* usado en neutron/index  */

            height: 250px;
        }
        }

        @media screen and (max-width: 768px) {
            .image {
                /* usado en neutron/index  */
                height: 260px;
            }

            .image1 {
                /* usado en neutron/index  */
                height: 250px;
                padding-left: 20%;
                padding-right: 20%;
                padding-top: 5%;
            }
            .image2 {
            /* usado en neutron/index  */
            height: 220px;
            padding-left: 20%;
                padding-right: 20%;
                padding-top: 5%;
        }
        .image6 {
            /* usado en neutron/index  */

            height: 400px;
            padding-left: 10%;
            padding-right: 10%;

        }
        }

        @media screen and (max-width: 576px) {
            .image {
                /* usado en neutron/index  */
                height: 220px;
            }

            .image1 {
                height: 250px;
                padding-left: 20%;
                padding-right: 20%;
                padding-top: 5%;
            }
            .image6 {
                /* usado en neutron/index  */

                height: 330px;
                padding-left: 10%;
                padding-right: 10%;

            }
        }

